@media only screen and (max-width: 1079px) and (min-width: 960px){

    .container{
        width: 939px;
        margin: 0 auto;
        height: inherit;
    }

    /*=================================screen_1==================================*/
    /*.screen_1 {
        background: url("../images/screen_1_bg.jpg") 53.7% 100% no-repeat;
    }*/
    .screen_1_content p {
        font-size: 28.38px;
    }
    .menu li a{
        margin: 56px 28px 0 0;
    }

    /*=================================screen_2==================================*/
    .advantages {
        margin: 0 15px 76px 15px;
    }

    /*=================================screen_3==================================*/
    .left_menu {
        margin: 135px 0 0 183px;
    }

    /*=================================screen_6==================================*/
    .screen_6 {
        height: 635px;
    }
}
@media only screen and (max-width: 959px) and (min-width: 784px){

    .container{
        width: 763px;
        margin: 0 auto;
        height: inherit;
    }

    /*=================================screen_1==================================*/
    .screen_1 {
        height: 1136px;
        position: relative;
        /*background: url("../images/screen_1_640_bg.jpg") 51.1% 100% no-repeat;*/
    }
    .logo {
        margin: 26px 80px 0 40px;
    }
    .menu_button{
        float: left;
        margin: 82px 0 0 -163px;
        display: block;
        cursor: pointer;
    }
    .menu {
        position: absolute;
        background: #ffffff;
        top: 152px;
        left: 0px;
        display: none;
        padding: 0 14px 16px 14px;
    }
    .menu li {
        float: none;
    }
    .menu li a {
        margin: 15px 0px 0 0;
    }
    .button {
        margin: 83px 34px 0 0;
    }
    .screen_1_content h1, .screen_1_content h1 p{
        font-size: 49.31px;
        text-align: center;
        margin: 92px 0 31px 0;
        min-height: 175px;
    }
    .screen_1_content h1 p{
        margin: 0 0 -40px 0;
        display: block;
        min-height: 44px;
    }
    .screen_1_content p {
        text-align: center;
    }
    .green_button {
        font-size: 23.24px;
        margin: 490px auto 0 auto;
        width: 433px;
        height: 85px;
        line-height: 85px;
    }

    /*=================================screen_2==================================*/
    .screen_2{
        padding: 0;
    }
    .advantages {
        width: 215px;
        margin: 0 18px 76px 18px;
    }
    h2{
        margin: 70px 0 89px 0;
    }


    /*=================================screen_3==================================*/
    .screen_3 {
        height: auto;
        background: #f8fafb;
        padding-bottom: 33px;
    }
    .screen_3 h2, .screen_4 h2{
        margin: -41px auto 0 auto;
        font-size: 36px;
        width: 400px;
        text-align: center;
    }
    .left_menu {
        margin: 22px 0 0 0;
        float: none;
    }
    .left_menu li{
        list-style: none !important;
        margin: 0 0 2px 0 !important;
        height: 64px;
        background: #e8ecee;
        line-height: 64px;
        text-align: center;
    }
    .left_menu li.active{
        color: #ffffff;
        background: #0473b9;
    }
    .left_menu li hr, .left_menu li br, .this_menu li hr,
    .screen_4 h2 br, .steps{
        display: none !important;
    }

    .this_menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .this_menu li h3 {
        font-size: 25.1px;
        text-align: center;
    }
    .this_menu li a {
        margin: 24px auto 30px auto;
    }
    .this_menu li p {
        width: 535px;
        margin: 0 auto;
        text-align: center;
    }
    .this_menu li a.green_button {
        margin: 36px auto 0 auto;
        font-size: 17.64px;
        width: 269px;
        height: 52px;
        line-height: 52px;
    }

    /*=================================screen_4==================================*/
    .screen_4 h2 {
        width: 100%;
    }
    .steps_640{
        display: block;
        position: relative;
    }
    .steps_640 ul li{
        text-align: center;
        width: 619px;
    }
    .steps_640 ul li img.step{
        margin: 75px 0 65px 0;
    }
    .steps_640 ul li p{
        font-size: 24px;
        width: 500px;
        margin: 0 auto;
    }
    .steps_640 ul li span{
        font-size: 19.95px;
        line-height: 1.905;
        margin: 54px auto 87px auto;
        width: 450px;
        color: #384650;
    }

    .bx-controls{
        text-indent: -99999px;
    }
    .bx-pager-item a.active, .bx-pager-item a:hover{
        background: #016fb7;
    }
    .bx-pager-link{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #7fb6d9;
        margin: 15px 10px 0 10px;
        float: left;
    }
    .bx-pager {
        margin: 0 0 0 339px;
    }

    .bx-prev{
        width: 25px;
        height: 101px;
        background: url("../images/arrow_left.png") center center no-repeat;
        position: absolute;
        top: 402px;
        left: 20px;
    }
    .bx-next{
        width: 25px;
        height: 101px;
        position: absolute;
        top: 402px;
        background: url("../images/arrow_right.png") center center no-repeat;
        right: 20px;
    }

    /*=================================screen_6==================================*/
    .screen_6{
        padding: 0 0 37px 0;
        height: auto;
        background: url("../images/screen_6_bg.png") top center no-repeat;
    }
    .screen_6 h2 {
        padding: 65px 0 0 0;
        margin: 0 0 67px 0;
        font-size: 36px;
    }
    .screen_6 form{
        width: 228px;
    }
    .screen_6 input[type=text]{
        width: 203px;
        height: 42px;
        font-size: 16px;
        margin: 0 0 25px 0;
    }
    .screen_6 input[type=submit]{
        width: 228px;
        height: 58px;
        font-size: 15.85px;
        margin: 0 0 0 0;
    }


    /*=================================screen_7==================================*/
    .screen_7{
        height: 509px;
        position: relative;
    }
    .contacts{
        background: #0473b9;
        height: 291px;
        width: 100%;
        padding: 20px 0 0 0;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
    }
    .contacts p {
        margin: 0 0 0 29px;
    }
    .contacts span {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 30px;
    }
    .contacts span br:nth-child(2){
        display: none;
    }
    .screen_7 iframe{
        height: 286px;
    }


    .pop_up {
        width: 100%;
        border-radius: 0;
        left: 0 !important;
    }

}

@media only screen and (max-width: 783px) and (min-width: 640px){

    .container{
        width: 619px;
        margin: 0 auto;
        height: inherit;
    }

    /*=================================screen_1==================================*/
    /*.screen_1 {
        height: 1136px;
        position: relative;
        background: url("../images/screen_1_640_bg.jpg") 51.1% 100% no-repeat;
    }*/
    .logo {
        margin: 26px 80px 0 40px;
    }
    .menu_button{
        float: left;
        margin: 82px 0 0 -163px;
        display: block;
        cursor: pointer;
    }
    .menu {
        position: absolute;
        background: #ffffff;
        top: 152px;
        left: 0px;
        display: none;
        padding: 0 14px 16px 14px;
    }
    .menu li {
        float: none;
    }
    .menu li a {
        margin: 15px 0px 0 0;
    }
    .button {
        /*margin: 83px 34px 0 0;*/
    }
    .screen_1_content h1, .screen_1_content h1 p{
        font-size: 49.31px;
        text-align: center;
        margin: 92px 0 31px 0;
        /*min-height: 175px;*/
    }
    .screen_1_content h1 p{
        margin: 0 0 -40px 0;
        display: block;
        min-height: 44px;
    }
    .screen_1_content p {
        text-align: center;
    }
    .green_button {
        font-size: 23.24px;
        margin: 95px auto 0 auto;
        width: 433px;
        height: 85px;
        line-height: 85px;
    }

    /*=================================screen_2==================================*/
    .screen_2{
        padding: 0;
    }
    .advantages {
        width: 180px;
        margin: 0 11px 76px 11px;
    }
    h2{
        margin: 70px 0 89px 0;
    }


    /*=================================screen_3==================================*/
    .screen_3 {
        height: auto;
        background: #f8fafb;
        padding-bottom: 33px;
    }
    .screen_3 h2, .screen_4 h2{
        margin: -41px auto 0 auto;
        font-size: 36px;
        width: 400px;
        text-align: center;
    }
    .left_menu {
        margin: 22px 0 0 0;
        float: none;
    }
    .left_menu li{
        list-style: none !important;
        margin: 0 0 2px 0 !important;
        height: 64px;
        background: #e8ecee;
        line-height: 64px;
        text-align: center;
    }
    .left_menu li.active{
        color: #ffffff;
        background: #0473b9;
    }
    .left_menu li hr, .left_menu li br, .this_menu li hr,
    .screen_4 h2 br, .steps{
        display: none !important;
    }

    .this_menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .this_menu li h3 {
        font-size: 25.1px;
        text-align: center;
    }
    .this_menu li a {
        margin: 24px auto 30px auto;
    }
    .this_menu li p {
        width: 535px;
        margin: 0 auto;
        text-align: center;
    }
    .this_menu li a.green_button {
        margin: 36px auto 0 auto;
        font-size: 17.64px;
        width: 269px;
        height: 52px;
        line-height: 52px;
    }

    /*=================================screen_4==================================*/
    .screen_4 h2 {
        width: 100%;
    }
    .steps_640{
        display: block;
        position: relative;
    }
    .steps_640 ul li{
        text-align: center;
        width: 619px;
    }
    .steps_640 ul li img.step{
        margin: 75px 0 65px 0;
    }
    .steps_640 ul li p{
        font-size: 24px;
        width: 500px;
        margin: 0 auto;
    }
    .steps_640 ul li span{
        font-size: 19.95px;
        line-height: 1.905;
        margin: 54px auto 87px auto;
        width: 450px;
        color: #384650;
    }

    .bx-controls{
        text-indent: -99999px;
    }
    .bx-pager-item a.active, .bx-pager-item a:hover{
        background: #016fb7;
    }
    .bx-pager-link{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #7fb6d9;
        margin: 15px 10px 0 10px;
        float: left;
    }
    .bx-pager {
        margin: 0 0 0 267px;
    }

    .bx-prev{
        width: 25px;
        height: 101px;
        background: url("../images/arrow_left.png") center center no-repeat;
        position: absolute;
        top: 402px;
        left: 20px;
    }
    .bx-next{
        width: 25px;
        height: 101px;
        position: absolute;
        top: 402px;
        background: url("../images/arrow_right.png") center center no-repeat;
        right: 20px;
    }

    /*=================================screen_6==================================*/
    .screen_6{
        padding: 0 0 37px 0;
        height: auto;
        background: url("../images/screen_6_bg.png") top center no-repeat;
    }
    .screen_6 h2 {
        padding: 65px 0 0 0;
        margin: 0 0 67px 0;
        font-size: 36px;
    }
    .screen_6 form{
        width: 228px;
    }
    .screen_6 input[type=text]{
        width: 203px;
        height: 42px;
        font-size: 16px;
        margin: 0 0 25px 0;
    }
    .screen_6 input[type=submit]{
        width: 228px;
        height: 58px;
        font-size: 15.85px;
        margin: 0 0 0 0;
    }


    /*=================================screen_7==================================*/
    .screen_7{
        height: 509px;
        position: relative;
    }
    .contacts{
        background: #0473b9;
        height: 291px;
        width: 100%;
        padding: 20px 0 0 0;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
    }
    .contacts p {
        margin: 0 0 0 26px;
    }
    .contacts span {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 27px;
    }
    .contacts span br:nth-child(2){
        display: none;
    }
    .screen_7 iframe{
        height: 286px;
    }


    .pop_up {
        width: 100%;
        border-radius: 0;
        left: 0 !important;
    }
}

@media only screen and (max-width: 639px) and (min-width: 480px){

    .container{
        width: 459px;
        margin: 0 auto;
        height: inherit;
    }

    /*=================================screen_1==================================*/
    .screen_1 {
        height: 1136px;
        position: relative;
        /*background: url("../images/screen_1_480_bg.jpg") 52.1% 100% no-repeat;*/
    }
    .logo {
        margin: 26px 80px 0 40px;
    }
    .menu_button{
        float: left;
        margin: 82px 0 0 -163px;
        display: block;
        cursor: pointer;
    }
    .menu {
        position: absolute;
        background: #ffffff;
        top: 152px;
        left: 0px;
        display: none;
        padding: 0 14px 16px 14px;
    }
    .menu li {
        float: none;
    }
    .menu li a {
        margin: 15px 0px 0 0;
    }
    .button {
        /*margin: 83px 34px 0 0;*/
    }
    .right{
      text-align: center;
      /*float: none;*/
    }
    .screen_1_content h1, .screen_1_content h1 p{
        font-size: 47.31px;
        text-align: center;
        margin: 92px 0 31px 0;
        min-height: 175px;
    }
    .screen_1_content h1 p{
        margin: 0 0 -40px 0;
        display: block;
        min-height: 43px;
    }
    .screen_1_content p {
        text-align: center;
    }
    .green_button {
        font-size: 23.24px;
        margin: 445px auto 0 auto;
        width: 433px;
        height: 85px;
        line-height: 85px;
    }

    /*=================================screen_2==================================*/
    .screen_2{
        padding: 0;
    }
    .advantages {
        width: 205px;
        margin: 0 11px 76px 11px;
    }
    h2{
        margin: 70px 0 89px 0;
    }


    /*=================================screen_3==================================*/
    .screen_3 {
        height: auto;
        background: #f8fafb;
        padding-bottom: 33px;
    }
    .screen_3 h2, .screen_4 h2{
        margin: -41px auto 0 auto;
        font-size: 36px;
        width: 400px;
        text-align: center;
    }
    .left_menu {
        margin: 22px 0 0 0;
        float: none;
    }
    .left_menu li{
        list-style: none !important;
        margin: 0 0 2px 0 !important;
        height: 64px;
        background: #e8ecee;
        line-height: 64px;
        text-align: center;
    }
    .left_menu li.active{
        color: #ffffff;
        background: #0473b9;
    }
    .left_menu li hr, .left_menu li br, .this_menu li hr,
    .screen_4 h2 br, .steps{
        display: none !important;
    }

    .this_menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .this_menu li h3 {
        font-size: 25.1px;
        text-align: center;
    }
    .this_menu li a {
        margin: 24px auto 30px auto;
    }
    .this_menu li p {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .this_menu li a.green_button {
        margin: 36px auto 0 auto;
        font-size: 17.64px;
        width: 269px;
        height: 52px;
        line-height: 52px;
    }

    /*=================================screen_4==================================*/
    .screen_4 h2 {
        width: 100%;
    }
    .steps_640{
        display: block;
        position: relative;
    }
    .steps_640 ul li{
        text-align: center;
        width: 619px;
    }
    .steps_640 ul li img.step{
        margin: 60px 0 55px 0;
    }
    .steps_640 ul li p{
        font-size: 22px;
        width: 100%;
        margin: 0 auto;
    }
    .steps_640 ul li span{
        font-size: 19.95px;
        line-height: 1.905;
        margin: 54px auto 50px auto;
        width: 375px;
        color: #384650;
    }

    .bx-controls{
        text-indent: -99999px;
    }
    .bx-pager-item a.active, .bx-pager-item a:hover{
        background: #016fb7;
    }
    .bx-pager-link{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #7fb6d9;
        margin: 15px 10px 0 10px;
        float: left;
    }
    .bx-pager {
        margin: 0 0 0 187px;
    }

    .bx-prev{
        width: 25px;
        height: 101px;
        background: url("../images/arrow_left.png") center center no-repeat;
        position: absolute;
        top: 402px;
        left: 20px;
    }
    .bx-next{
        width: 25px;
        height: 101px;
        position: absolute;
        top: 402px;
        background: url("../images/arrow_right.png") center center no-repeat;
        right: 20px;
    }

    /*=================================screen_5==================================*/
    .questions {
        width: 100%;
    }

    /*=================================screen_6==================================*/
    .screen_6{
        padding: 0 0 37px 0;
        height: auto;
        background: url("../images/screen_6_bg.png") top center no-repeat;
    }
    .screen_6 h2 {
        padding: 65px 0 0 0;
        margin: 0 0 67px 0;
        font-size: 36px;
    }
    .screen_6 form{
        width: 228px;
    }
    .screen_6 input[type=text]{
        width: 203px;
        height: 42px;
        font-size: 16px;
        margin: 0 0 25px 0;
    }
    .screen_6 input[type=submit]{
        width: 228px;
        height: 58px;
        font-size: 15.85px;
        margin: 0 0 0 0;
    }


    /*=================================screen_7==================================*/
    .screen_7{
        height: 509px;
        position: relative;
    }
    .contacts{
        background: #0473b9;
        height: 291px;
        width: 100%;
        padding: 20px 0 0 0;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
    }
    .contacts p {
        margin: 0 0 0 25px;
    }
    .contacts span {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 25px;
    }
    .contacts span br:nth-child(2){
        display: none;
    }
    .screen_7 iframe{
        height: 286px;
    }


    .pop_up {
        width: 100%;
        border-radius: 0;
        left: 0 !important;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px){

    .container{
        width: 299px;
        margin: 0 auto;
        height: inherit;
    }

    /*=================================screen_1==================================*/
    .screen_1 {
        height: 1000px;
        position: relative;
        /*background: url("../images/screen_1_320_bg.jpg") 52.4% 950% no-repeat;*/
    }
    .logo {
        margin: 26px  auto 10px;
    }
    .menu_button{
        margin: 82px 0 0 11px;
        display: block;
        cursor: pointer;
        position: absolute;
        z-index: 6;
    }
    .menu {
        position: absolute;
        background: #ffffff;
        top: 152px;
        left: 0px;
        display: none;
        padding: 0 14px 16px 14px;
    }
    .menu li {
        float: none;
    }
    .menu li a {
        margin: 15px 0px 0 0;
    }
    .button {
        /*margin: 28px 7px 0 0;*/
    }
    .logo-link{
      width: 320px;
      display: block;
      text-align: center;
    }
    .logo{
      float: none;
    }
    .right{
      width: 319px;
      float: left;
      text-align: center;
    }
    .screen_1_content p {
        font-size: 27.38px;
    }
    .screen_1_content h1, .screen_1_content h1 p{
        font-size: 36px;
        text-align: center;
        margin: 92px 0 31px 0;
        min-height: 175px;
    }
    .screen_1_content h1 p{
        margin: 0 0 -40px 0;
        display: block;
        min-height: 43px;
    }
    .screen_1_content p {
        text-align: center;
    }
    .green_button {
        font-size: 19px;
        margin: 183px auto 0 auto;
        width: 100%;
        height: 60px;
        line-height: 64px;
    }

    /*=================================screen_2==================================*/
    .screen_2{
        padding: 0;
    }
    .advantages {
        width: 205px;
        margin: 0 0 76px 47px;
    }
    h2{
        margin: 70px 0 89px 0;
    }


    /*=================================screen_3==================================*/
    .screen_3 {
        height: auto;
        background: #f8fafb;
        padding-bottom: 33px;
    }
    .screen_3 h2, .screen_4 h2{
        margin: -41px auto 0 auto;
        font-size: 29px;
        width: 100%;
        text-align: center;
    }
    .left_menu {
        margin: 22px 0 0 0;
        float: none;
    }
    .left_menu li{
        list-style: none !important;
        margin: 0 0 2px 0 !important;
        height: 64px;
        background: #e8ecee;
        line-height: 64px;
        text-align: center;
    }
    .left_menu li.active{
        color: #ffffff;
        background: #0473b9;
    }
    .left_menu li hr, .left_menu li br, .this_menu li hr,
    .screen_4 h2 br, .steps{
        display: none !important;
    }

    .this_menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .this_menu li h3 {
        font-size: 25.1px;
        text-align: center;
    }
    .this_menu li a {
        margin: 24px auto 30px auto;
        width: 100%;
        height: 200px;
    }
    .this_menu li p {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .this_menu li a.green_button {
        margin: 36px auto 0 auto;
        font-size: 17.64px;
        width: 269px;
        height: 52px;
        line-height: 52px;
    }

    /*=================================screen_4==================================*/
    .screen_4 h2 {
        width: 100%;
    }
    .steps_640{
        display: block;
        position: relative;
    }
    .steps_640 ul li{
        text-align: center;
        width: 619px;
    }
    .steps_640 ul li img.step{
        width: auto;
        margin: 60px 0 55px 0;
    }
    .steps_640 ul li p{
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .steps_640 ul li span{
        font-size: 17px;
        line-height: normal;
        margin: 54px auto 50px auto;
        width: 85%;
        color: #384650;
    }
    .steps_640 ul li img{
        width: 100%;
    }

    .bx-controls{
        text-indent: -99999px;
    }
    .bx-pager-item a.active, .bx-pager-item a:hover{
        background: #016fb7;
    }
    .bx-pager-link{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #7fb6d9;
        margin: 15px 10px 0 10px;
        float: left;
    }
    .bx-pager {
        margin: 0 0 0 107px;
    }

    .bx-prev{
        width: 25px;
        height: 101px;
        background: url("../images/arrow_left.png") center center no-repeat;
        position: absolute;
        top: 402px;
        left: 0;
    }
    .bx-next{
        width: 25px;
        height: 101px;
        position: absolute;
        top: 402px;
        background: url("../images/arrow_right.png") center center no-repeat;
        right: 0;
    }

    /*=================================screen_5==================================*/
    .questions {
        width: 100%;
    }

    /*=================================screen_6==================================*/
    .screen_6{
        padding: 0 0 37px 0;
        height: auto;
        background: url("../images/screen_6_bg.png") top center no-repeat;
    }
    .screen_6 h2 {
        padding: 65px 0 0 0;
        margin: 0 0 67px 0;
        font-size: 25px;
    }
    .screen_6 form{
        width: 228px;
    }
    .screen_6 input[type=text]{
        width: 203px;
        height: 42px;
        font-size: 16px;
        margin: 0 0 25px 0;
    }
    .screen_6 input[type=submit]{
        width: 228px;
        height: 58px;
        font-size: 15.85px;
        margin: 0 0 0 0;
    }


    /*=================================screen_7==================================*/
    .screen_7{
        height: 509px;
        position: relative;
    }
    .contacts{
        background: #0473b9;
        height: 291px;
        width: 100%;
        padding: 20px 0 0 0;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
    }
    .contacts p {
        margin: 0 0 0 17px;
    }
    .contacts span {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 19px;
    }
    .contacts span br:nth-child(2){
        display: none;
    }
    .screen_7 iframe{
        height: 286px;
    }


    .pop_up {
        width: 100%;
        border-radius: 0;
        left: 0 !important;
    }
}
