div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.feil
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.checks-me {
    z-index: 999;
}

.checks-me span {

    z-index: 4000;
    position: relative;
}