// VARS

@weight-light: 300;
@weight-norm: 400;
@weight-mid: 600;
@weight-bold: 700;
@weight-xbold: 800;

$yellow: yellow;

$break_sm: 768px;
$width_sm: 750px;
$break_md: 992px;
$width_md: 970px;
$break_lg: 1200px;
$width_lg: 1170px;